.bg-base-color,
.collapse-btn {
  background: #2367B3 !important;
  transition: background-color 0.3s ease-in-out;
}

.nav-item.active, 
.collapse-btn.active,
.sidebar .active {
  background-color: #c21859;
  color: #2367B3 !important;
  /* width: 90% !important; */
  /* border-radius: 10px; */
}

.collapse-content.show .collapse-item.active {
  background-color: #2367B3;
  color: white !important;
  width: 90% !important;
  border-radius: 10px;
}

.nav-link:hover,
.collapse-content a:hover,
.collapse-btn:hover {
  background-color: #008bf5 !important;
  color: #E3F3FF !important;
}



.collapse-content {
  max-height: 0;
  overflow: hidden;
  margin-top: 5px;
  justify-content: center;
}

.collapse-content.show {
  max-height: 500px;
  background-color: #E3F3FF;
  border-radius: 0px 0px 10px 10px;
}

.collapse-content a {
  display: block;
  /* padding: 5px 5px; */
  text-decoration: none;
  /* color: #333; */
  margin: 10px 10px;
  font-size: 13px;
  transition: background-color 0.3s ease-in-out;
}
